<!DOCTYPE html>
<html>

<head>
	<style>
		nav {
			border: 1px;
			background-color: green;
			color: white;
			padding: 6px;
		}
		
		a {
			text-decoration: none;
			color: white;
			font-size: 20px;
		}
	</style>
</head>

<body>
	<h1>movie list</h1>
	
	<!-- nav tag starts -->
	<nav>
        <a href="">home</a>
		<a href="/form"
>
				login</a> |
		<a href= "watchlist">
				watchlist</a> |


		
	</nav>
	<!-- nav tag ends -->

    <h1>welcome </h1>
</body>

</html>
